<section class="bg-stone-800 bg-fixed bg-topography text-stone-100 py-10 md:py-20">
  
  <div class="container mx-auto py-5 md:px-5 md:leading-relaxed">
	<h2 class="font-header px-5 md:text-center mb-10 md:mb-20 font-bold leading-tight text-4xl md:text-5xl">
	  Choose Your Kit<span class="animate-ping">_</span>
	</h2>

    <div class="flex flex-col lg:flex-row gap-5 lg:gap-1"> 
      <div class="p-5 md:p-10 flex-1 bg-stone-700">

        <h3 class="font-header text-3xl font-bold mb-5">Lite Kit</h3>

        <ul class="space-y-3 mb-10"> 
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Instant access to BaseCode
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2 opacity-30">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Access to group Q&A call
          </li>
          <li class="flex gap-2 opacity-30">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Bonus videos demoing the practices together
          </li>
        </ul>

        <a href="#" class="flex border border-stone-500 justify-center gap-10 uppercase px-10 md:py-5 py-4 text-stone-100 font-bold font-header">
          <span>Free</span>
        </a>

      </div>

      <div class="p-5 md:p-10 flex-1 bg-stone-700">
        <h3 class="font-header text-3xl font-bold mb-5">Mid Kit</h3>

        <ul class="space-y-3 mb-10"> 
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Instant access to BaseCode
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Access to group Q&A call
          </li>
          <li class="flex gap-2 opacity-30">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Bonus videos demoing the practices together
          </li>
        </ul>

        <a href="#" class="flex bg-stone-500 border border-stone-500 justify-center gap-10 uppercase px-10 py-4 md:py-5 text-stone-100 font-bold font-header">
          <span>Buy now </span>
          <span>$59</span>
        </a>

      </div>

      <div class="p-5 md:p-10 flex-1 bg-stone-700">
        <h3 class="font-header text-3xl font-bold mb-5">Full Kit</h3>
        <ul class="space-y-3 mb-10"> 
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Instant access to BaseCode
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Download the complete code samples 
          </li>
          <li class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Access to group Q&A call
          </li>
          <li class="flex gap-2"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mt-1 shrink-0 w-6 stroke-stone-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            Bonus videos demoing the practices together
          </li>
        </ul>

        <a href="#" class="flex bg-amber-500 justify-center gap-10 px-10 py-4 md:py-5 text-stone-800 font-bold uppercase  font-header">
          <span>Buy now </span>
          <span>$99</span>
        </a>

      </div>

    </div>

      <div class="border border-stone-700 p-10 mx-auto my-10">
       
        <div class="mb-10 text-center">
          <h3 class="uppercase font-header text-3xl font-bold">Not ready to buy?</h3>
          <p class="">That's fine. Here's some free content to check out first.</p>
        </div>

        <ul class="grid text-center md:grid-cols-3 gap-10">

          <li class="flex group flex-col gap-5"> 
            <img src="<%= relative_url "/images/book.png" %>" srcset="<%= relative_url "/images/book@2x.png" %> 2x" class="mx-auto group-hover:-translate-y-4 transition-all duration-300" />
            <a href="#">
              <span class="text-amber-500 hover:text-amber-600">Read the first two chapters</span> from BaseCode
            </a>
          </li>

          <li class="flex group flex-col gap-5"> 
            <img src="<%= relative_url "/images/podcast.png" %>" srcset="<%= relative_url "/images/podcast@2x.png" %> 2x" class="mx-auto group-hover:-translate-y-4 transition-all duration-300" />
            <a href="#">
              <span class="text-amber-500 hover:text-amber-600">Listen to the first season</span> of the BaseCode Podcast 
            </a>
          </li>

          <li class="flex group flex-col gap-5"> 
            <img src="<%= relative_url "/images/youtube.png" %>" srcset="<%= relative_url "/images/youtube@2x.png" %> 2x" class="mx-auto group-hover:-translate-y-4 transition-all duration-300" />
            <a href="#">
              <span class="text-amber-500 hover:text-amber-600">Watch the BaseCode practices in action</span> in live-streams 
            </a>
          </li>

        </ul>
      </div>
  </div>
</section>
